@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat'; 
  font-style: normal;
  max-width: 1280px; 
}
.box1 ol {
  margin: 0;
}

.box1 {
  height: 867px;
  position: relative;
  margin-left: 296px;
  /* margin-top: 25.5px; */
}

.box1 a {
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-decoration: none;
  text-transform:uppercase;
  color: #ff0000;
  height: 27px;
  margin: 25.5px;
}

.spusok1 {
  width: 68px;
  left: 0px;
}
.spusok2 {
  width: 131px;
  left: 140px;
}
.spusok3 {
  width: 87px;
  left: 343px;
}
.spusok4 {
  width: 140px;
  left: 480px;
}

.picture1 {
  width: 1280px;
  height: 789px;
  left: 0px;
  top: 78px;
  position: absolute;
}

main h2 {
  /* position: absolute; */
  font-weight: 700;
  font-size: 22px;
  /* line-height: 26.82px; */
  /* width: 774px; */
  /* left: 253px;
  top: 48px; */
  text-transform: uppercase;
  margin: 48px 0 38px 253px;
  color: #373737;
  letter-spacing: 3.3px;
}

/* .box2 {
  position: relative;
} */

main p {
  /* position: absolute; */
  font-size: 16px;
  margin: 14px 67.5px 14px 67.5px;
  /* display: flex; */
  /* align-items: flex-end; */
  color: #373737;
  text-align: center;
  letter-spacing: 2.4px;
  font-weight: 400;
  line-height: 26px;
}
input {
  background-color: #ff0000;  
  color: #ffffff;
  width: 191px;
  height: 51px;
  margin: 66px 0 0 554.5px;
  font-family: 'Montserrat'; 
  font-size: 12px;
  letter-spacing: 1.8px;
  border-radius: 4px;
  text-transform: uppercase;
}

footer p {
  color: #373737;
  font-family: 'Montserrat'; 
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 2.4px;
  margin: 82px 0 0 713px;
  font-weight: 700;
}